*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid #fff;
}
.logo{
    background-image: url("../images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width:  100%;
}
.add-icon{
    display: flex;
    align-items: center;
}
.address-first{
 color: #cccccc;
 font-size: 0.85rem;
 margin-left: 13px;
}
.address-second{
   font-size: 1rem;
   margin-left: 3px;
}

/* box3 */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 3px;
}
.nav-search:hover{
    border: 2px solid #fedb68;
}
.search-select{
    background-color: #f3f3f3;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 50px;
    text-align: center;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #fedb68;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #0f1111;
}

/* box4 */

span{
    font-size: 0.7rem;
}
.nav-text{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart i{
  font-size: 2rem;
}
.nav-cart{
    font-weight: 600;
}

/* nav bottom */

.nav-bottom{
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color: #fff;
    align-items: center;
    justify-content: space-evenly;
}
.option a{
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}
.option{
    width: 70%;
    font-size: 0.85rem;
}
.option-deals{
    font-size: 0.9rem;
    font-weight: 700px;
}
/* hero section */
.hero-section{
    background-image: url("../images/hero_image.jpg");
    height: 350px;
    background-size: cover;
}
.hero-text{
    background-color: #fff;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    position: absolute;
    bottom: 210px;
    left: 75px;
    width: 90%;
}
.hero-text a{
    text-decoration: none;
    color: #007185;
}
/* shop section */
.shop-box{
  display: flex;
  justify-content: space-evenly;
  background-color: #e2e7e6;
  flex-wrap: wrap;
}
.box{
    height: 350px;
    width: 22%;
    background-color: #fff;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img1{  
    background-size: cover;
    width: 250px;
    height: 230px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.box-image1{
    background-image: url("../images/box1_image.jpg");
}
.box-image2{
    background-image: url("../images/box2_image.jpg");
}
.box-image3{
    background-image: url("../images/box3_image.jpg");
}
.box-image4{
    background-image: url("../images/box4_image.jpg");
}
.box-image5{
    background-image: url("../images/box5_image.jpg");
}
.box-image6{
    background-image: url("../images/box6_image.jpg");
}
.box-image7{
    background-image: url("../images/box7_image.jpg");
}
.box-image8{
    background-image: url("../images/box8_image.jpg");
}
.box-content{
    margin: 10px 10px 10px 20px;
}
.box-content p{
    color: #007185;
}
.box-content p:hover{
    color: #fedb68;
    cursor: pointer;
}

/* footer box  */


footer{
    margin-top: 15px;
}
.footer-box{
    background-color: #374751;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.footer-box1{
    background-color: #222f3d;
    color: #fff;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
}

.footer-box1 ul{
    margin-top: 20px;
}
.footer-box1 ul a{
   display: block;
   font-size: 0.85rem;
   margin-top: 10px;
   color: #dddddd;
}
.footer-box2{
    background-color: #222f3d;
    border-top: 0.5px solid #fff;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-footer{
    background-image: url("../images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.footer-box3{
    background-color: #0f1111;
    color: #fff;
    height: 50px;
    padding-top: 20px;
    font-size: 0.7rem;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.footer-box-content{
    font-size: 0.7rem;
}
.copyright{
    padding: 5px;
}